/* Choropleth II - Deliveries by State
 * A retooling of Requests by State */

#dbs .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

#dbs .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  #dbs .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  #dbs .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  #dbs .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

#dbs .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

#dbs .col-12, #dbs .col-md-6, #dbs .col-lg-3, #dbs .col-lg-9, #dbs .col-lg-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

#dbs .col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

@media (min-width: 768px) {
  #dbs .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 992px) {
  #dbs .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  #dbs .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  #dbs .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

#dbs .d-none {
  display: none !important; }

#dbs .d-block {
  display: block !important; }

@media (min-width: 768px) {
  #dbs .d-md-none {
    display: none !important; }
  #dbs .d-md-block {
    display: block !important; } }

#dbs .container .page-wrapper {
  position: relative; }
  #dbs .container .page-wrapper .map-wrapper .title {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #58595b;
    letter-spacing: 0.5px;
    font-size: 30px;
    font-weight: 600;
    text-align: center; }
  #dbs .container .page-wrapper .map-wrapper .map {
    width: 100%;
    min-height: 200px; }
  #dbs .container .page-wrapper .detail-wrapper {
    padding-top: 50px; }
    #dbs .container .page-wrapper .detail-wrapper .national-stats {
      border: 0.5px solid #a7a9ac;
      text-align: center;
      padding: 5px;
      border-radius: 2px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); }
      #dbs .container .page-wrapper .detail-wrapper .national-stats .title {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 5px;
        color: #58595b;
        border-bottom: 1px solid #a7a9ac; }
      #dbs .container .page-wrapper .detail-wrapper .national-stats .body .amount {
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
        font-size: 33px;
        color: #58595b;
        padding: 0.25rem; }
      #dbs .container .page-wrapper .detail-wrapper .national-stats .body .top-item {
        display: grid;
        grid-template-columns: 40% 60%; }
        #dbs .container .page-wrapper .detail-wrapper .national-stats .body .top-item .top-item-icon {
          padding: 5px;
          text-align: right; }
          #dbs .container .page-wrapper .detail-wrapper .national-stats .body .top-item .top-item-icon img {
            width: 30px;
            height: 30px; }
        #dbs .container .page-wrapper .detail-wrapper .national-stats .body .top-item .detail {
          display: block;
          align-items: center;
          text-align: left;
          padding: 7px 10px; }
          #dbs .container .page-wrapper .detail-wrapper .national-stats .body .top-item .detail p {
            font-family: "Open Sans", sans-serif;
            color: #58595b;
            font-size: 10px;
            font-weight: 600;
            width: 100%;
            margin: 0; }
    #dbs .container .page-wrapper .detail-wrapper .color-area {
      padding: 0px 0 50px 0; }
      @media (min-width: 992px) {
        #dbs .container .page-wrapper .detail-wrapper .color-area {
          padding-top: 35px; } }
      #dbs .container .page-wrapper .detail-wrapper .color-area .bar {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 1px;
        height: 15px;
        position: relative; }
        #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-100 {
          background-color: #B2D2DD; }
          #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-100 .line {
            width: calc(100% / 6);
            height: 10px;
            position: absolute;
            border-right: 1px solid #a7a9ac;
            top: 15px; }
          #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-100 .color-text {
            font-size: 10px;
            font-weight: 600;
            font-family: "Open Sans", sans-serif;
            color: #000000;
            position: absolute;
            top: 25px;
            left: calc(100% / 6 - 10px); }
        #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-250 {
          background-color: #68B0C4; }
          #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-250 .line {
            width: calc(100% / 6);
            height: 10px;
            position: absolute;
            border-right: 1px solid #a7a9ac;
            top: 15px; }
          #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-250 .color-text {
            font-size: 10px;
            font-weight: 600;
            font-family: "Open Sans", sans-serif;
            color: #000000;
            position: absolute;
            top: 25px;
            left: calc(200% / 6 - 10px); }
        #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-500 {
          background-color: #4C8BBC; }
          #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-500 .line {
            width: calc(100% / 6);
            height: 10px;
            position: absolute;
            border-right: 1px solid #a7a9ac;
            top: 15px; }
          #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-500 .color-text {
            font-size: 10px;
            font-weight: 600;
            font-family: "Open Sans", sans-serif;
            color: #000000;
            position: absolute;
            top: 25px;
            left: calc(300% / 6 - 10px); }
        #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-750 {
          background-color: #2F6CB5; }
          #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-750 .line {
            width: calc(100% / 6);
            height: 10px;
            position: absolute;
            border-right: 1px solid #a7a9ac;
            top: 15px; }
          #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-750 .color-text {
            font-size: 10px;
            font-weight: 600;
            font-family: "Open Sans", sans-serif;
            color: #000000;
            position: absolute;
            top: 25px;
            left: calc(400% / 6 - 10px); }
        #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-1000 {
          background-color: #22508A; }
          #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-1000 .line {
            width: calc(100% / 6);
            height: 10px;
            position: absolute;
            border-right: 1px solid #a7a9ac;
            top: 15px; }
          #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-1000 .color-text {
            font-size: 10px;
            font-weight: 600;
            font-family: "Open Sans", sans-serif;
            color: #000000;
            position: absolute;
            top: 25px;
            left: calc(500% / 6 - 10px); }
        #dbs .container .page-wrapper .detail-wrapper .color-area .bar .color-over {
          background-color: #0C2E4D; }
    #dbs .container .page-wrapper .detail-wrapper .explaination {
      font-size: 13px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #58595b; }

#dbs .svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  /* aspect ratio */
  vertical-align: top;
  overflow: hidden; }

#dbs .svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0; }

div.tooltipDBS,
.tooltip2 {
  position: absolute;
  text-align: center;
  width: 130px;
  min-height: 85px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  border: 1px;
  pointer-events: none;
  outline: #a7a9ac solid 0.5px;
  background: #ffffff;
  padding: 3px; }
  div.tooltipDBS .title,
  .tooltip2 .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: #58595b;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #a7a9ac; }
  div.tooltipDBS .amount,
  .tooltip2 .amount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: #58595b;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase; }
  div.tooltipDBS .top-item,
  .tooltip2 .top-item {
    margin-top: 3px;
    text-align: center;
    font-size: 10px; }
