#hvn .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

#hvn .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px; }

#hvn .col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

#hvn .col-sm-6 {
  position: relative;
  width: 100%;
  min-height: 1px; }

@media (min-width: 576px) {
  #hvn .container {
    max-width: 540px; }
  #hvn .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 768px) {
  #hvn .container {
    max-width: 720px; }
  #hvn .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 992px) {
  #hvn .container {
    max-width: 1125px; } }

#hvn .page-wrapper .title {
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20pt;
  font-weight: 600;
  color: #58595b;
  padding-bottom: 20px; }

#hvn .page-wrapper .legend {
  padding-left: 40px; }
  #hvn .page-wrapper .legend div {
    display: inline-flex; }
  #hvn .page-wrapper .legend .legend-column {
    text-align: center; }
  #hvn .page-wrapper .legend .text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #58595b;
    padding: 0 10px;
	padding-top: 3px;}
  #hvn .page-wrapper .legend .color-block {
    width: 30px;
    height: 30px;
    flex-shrink: 0; }
  #hvn .page-wrapper .legend .hospitals .color-block {
    background-color: #36a2b9; }
  #hvn .page-wrapper .legend .non-hospitals .color-block {
    background-color: #243b58; }

#hvn .page-wrapper #requesting-ppe-chart {
  text-align: center;
  width: 100%;
  margin: auto; }
  #hvn .page-wrapper #requesting-ppe-chart .y-axis {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #58595b; }
    #hvn .page-wrapper #requesting-ppe-chart .y-axis .domain {
      color: #58595b; }
  #hvn .page-wrapper #requesting-ppe-chart .x-axis {
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 600; }
    #hvn .page-wrapper #requesting-ppe-chart .x-axis .domain {
      color: #58595b; }

#hvn .page-wrapper .description {
  margin: auto;
  padding: 10px 0 10px 0;
  width: 90%;
  color: #58595b;
  font-size: 10pt;
  font-weight: 400;
  font-family: "Open Sans", sans-serif; }

div.tooltip-hvn,
.tooltip2 {
  position: absolute;
  text-align: center;
  width: 180px;
  height: 245px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  border: 1px;
  pointer-events: none;
  outline: #a7a9ac solid 0.5px;
  background: #ffffff; }
  div.tooltip-hvn #triangle-bottom,
  .tooltip2 #triangle-bottom {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    /*  Left Border */
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #a7a9ac;
    /*  Bottom Border */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    /*  Rotate it to 45deg and skew  */
    transform: rotate(313deg);
    /*  Position it until you meet the corners  */
    bottom: -8px;
    left: 86px; }
  div.tooltip-hvn .tt-header,
  .tooltip2 .tt-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-family: "Open Sans", sans-serif;
    background-color: #6d6e71;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase; }
  div.tooltip-hvn .tt-hospitals,
  .tooltip2 .tt-hospitals {
    font-family: "Open Sans", sans-serif;
    color: #58595b;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #a7a9ac; }
    div.tooltip-hvn .tt-hospitals .left p,
    .tooltip2 .tt-hospitals .left p {
      margin: 0;
      float: left; }
    div.tooltip-hvn .tt-hospitals .left .dot,
    .tooltip2 .tt-hospitals .left .dot {
      background: #36a2b9;
      margin-top: 10px;
      width: 10px;
      height: 10px;
      margin: 5px 5px 0 0;
      border-radius: 10px; }
    div.tooltip-hvn .tt-hospitals .left .title,
    .tooltip2 .tt-hospitals .left .title {
      font-size: 13px;
      font-weight: 600; }
    div.tooltip-hvn .tt-hospitals .right,
    .tooltip2 .tt-hospitals .right {
      font-size: 13px;
      font-weight: 600; }
  div.tooltip-hvn .tt-non-hospitals ul,
  .tooltip2 .tt-non-hospitals ul {
    list-style-type: none;
    padding: 5px 10px 5px 10px;
    margin: 0px; }
  div.tooltip-hvn .tt-non-hospitals ul li,
  .tooltip2 .tt-non-hospitals ul li {
    font-family: "Open Sans", sans-serif;
    color: #58595b;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 2.5px 0px 2.5px 0px; }
    div.tooltip-hvn .tt-non-hospitals ul li .left p,
    .tooltip2 .tt-non-hospitals ul li .left p {
      margin: 0;
      float: left; }
    div.tooltip-hvn .tt-non-hospitals ul li .left .non-title,
    .tooltip2 .tt-non-hospitals ul li .left .non-title {
      font-size: 13px;
      font-weight: 600; }
    div.tooltip-hvn .tt-non-hospitals ul li .left .non-dot,
    .tooltip2 .tt-non-hospitals ul li .left .non-dot {
      background: #243b58;
      margin-top: 10px;
      border-radius: 10px;
      width: 10px;
      height: 10px;
      margin: 5px 5px 0 0; }
    div.tooltip-hvn .tt-non-hospitals ul li .left .dot,
    .tooltip2 .tt-non-hospitals ul li .left .dot {
      width: 10px;
      height: 10px;
      margin: 5px 5px 0 0; }
    div.tooltip-hvn .tt-non-hospitals ul li .left .title,
    .tooltip2 .tt-non-hospitals ul li .left .title {
      font-size: 13px;
      font-weight: 400; }
    div.tooltip-hvn .tt-non-hospitals ul li .non-right,
    .tooltip2 .tt-non-hospitals ul li .non-right {
      font-size: 13px;
      font-weight: 600; }
    div.tooltip-hvn .tt-non-hospitals ul li .right,
    .tooltip2 .tt-non-hospitals ul li .right {
      font-size: 13px;
      font-weight: 400; }

#hvn .page-wrapper #requesting-ppe-chart .x-axis .tick line {
  display: none; }

#hvn .page-wrapper #requesting-ppe-chart .y-axis :nth-child(odd) {
  display: none; }

#hvn .page-wrapper #requesting-ppe-chart .y-axis .tick line {
  display: unset; }

#hvn .page-wrapper #requesting-ppe-chart .y-axis .domain {
  display: unset; }

#hvn .svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: calc(100% + 2vw);
  /* aspect ratio */
  vertical-align: top;
  overflow: hidden; }

#hvn .svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0; }