/** UTRF Staff **/


h2.staff_type {
  text-align: center;
  text-transform: capitalize;
}


.utrf-staff .bio {
    text-align: center;
    min-height: 400px;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 5px 10px 25px;
    padding: 5px;
    max-width: 240px;
}
/*
    .bio.utrf-president {
        width: 100%;
        max-width: unset;
    }
*/
.utrf-staff .graypanel {
    padding: 10px 0 30px;
    text-align: center;
}

.bio-pic img{
	margin:5px auto;
}

.bio-pic a {
    border: none;
}

{
	font-size:18px;
}

.bio .staff-name {
    font-size: 20px;
    font-size: 2rem;
    letter-spacing: -1px;
}

.bio .job-title, 
.bio .job-scope, 
.bio .phone, 
.bio .e-mail {
    font-size: 14px;
    color: #232525;
    font-family: 'Poppins', sans-serif;
}

.bio .job-title {
    font-weight: bold;
}

.bio .email{
	color:#ff8200;
}