/*** *** Inteum Widgets ***/
/* 
 * Latest Technologies Published 
 */

.latest_tech_wrap h3 {
  color: #777777;
  font-size: 1.3em;
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: 600;
}

.latesttechnologiesposted_publisheddate,
aside.inteum.rss span.rss-date{
    margin: -4px 0 10px;
    font-size: 18px;
    display:none;
}

.latesttechnologiesposted_curspacing {
    margin: 0 0 20px 0;
}

.latesttechnologiesposted_publisheddate:before,
aside.inteum.rss span.rss-date:before{
    content:"\f073";
    display: inline-block;
    font-family: FontAwesome;
    font-size: .8em;
    padding-right: 5px;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing:antialiased; 
}

aside.inteum.rss a.rsswidget{display:inline-block;}